/* Código CSS específico apenas para o botão de WhatsApp */
.whatsapp-container {
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
  }
  
  .whatsapp-container a {
    text-decoration: none;
    display: contents;
  }
  
  /* Estilos específicos apenas para o botão, com nomes de classes mais específicos */
  .whatsapp-container .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 6.5rem;
    height: 6.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #00d757;
  }
  
  .whatsapp-container .sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .whatsapp-container .sign svg {
    width: 4.5rem;
  }
  
  .whatsapp-container .sign svg path {
    fill: white;
  }
  
  .whatsapp-container .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.3s;
  }
  
  .whatsapp-container .Btn:hover {
    width: 150px;
    border-radius: 40px;
    transition-duration: 0.3s;
  }
  
  .whatsapp-container .Btn:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 10px;
  }
  
  .whatsapp-container .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
  }
  
  .whatsapp-container .Btn:active {
    transform: translate(2px, 2px);
  }